<div class="centralized-container">
  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          Por favor, insira um e-mail válido.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          A senha deve ter pelo menos 6 caracteres.
        </div>
      </div>
      <button (click)="login()"
        class="mt-4 cursor-pointer inline-flex items-center justify-center w-full px-6 py-2 text-base font-bold leading-6 text-white bg-red-800 border border-transparent rounded-lg md:w-auto hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2">
        Entrar
      </button>
    </form>
    <p>
      <a href="javascript:void(0);" (click)="goToForgotPassword()">Esqueceu a senha?</a>
    </p>
  </div>

</div>
