.register-button{
  @apply
    bg-gray-300
      rounded-md
      w-24
      h-10;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

:host ::ng-deep .p-panel {
  margin-bottom: 1rem;
}

:host ::ng-deep .p-panel .p-panel-header {
  background-color: #f8f9fa;
  color: #495057;
  font-weight: 600;
}

:host ::ng-deep .p-grid {
  margin-top: 1rem;
}

:host ::ng-deep .p-checkbox {
  margin-right: 0.5rem;
}

:host ::ng-deep .p-button {
  width: 100%;
}

:host ::ng-deep {
  .p-checkbox-box {
    border-color: #007bff;
    background-color: #e6f3fd;
  }

  .p-checkbox-box.p-highlight {
    background-color: #007bff;
    border-color: #007bff;
  }

  .p-checkbox-box .p-checkbox-icon {
    color: white;
  }
}
