<form [formGroup]="registrationForm" class="p-fluid pb-8 bg-gray-300">
  <p-panel header="Informações Pessoais">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <app-form-field label="Nome Completo" [required]="true">
          <input pInputText id="userName" formControlName="fullName" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-6">
        <app-form-field label="Nome Completo" [required]="true">
          <input pInputText id="fullName" formControlName="fullName" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-6">
        <app-form-field label="Data de Nascimento" [required]="true">
          <p-calendar formControlName="birthDate" dateFormat="dd/mm/yy"></p-calendar>
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="CPF" [required]="true">
          <p-inputMask formControlName="cpf" mask="999.999.999-99"></p-inputMask>
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="E-mail" [required]="true">
          <input pInputText id="email" formControlName="email" type="email" />
        </app-form-field>
      </div>
      <!-- <div class="p-col-12 p-md-4">
        <app-form-field label="Celular" [required]="true">
          <p-inputMask formControlName="cellPhone" mask="(99) 99999-9999"></p-inputMask>
        </app-form-field>
      </div> -->
      <!-- <div class="p-col-12 p-md-4">
        <app-form-field label="Telefone">
          <p-inputMask formControlName="phone" mask="(99) 9999-9999"></p-inputMask>
        </app-form-field>
      </div> -->
      <!-- <div class="p-col-12 p-md-4">
        <app-form-field label="Nacionalidade" [required]="true">
          <input pInputText id="nationality" formControlName="nationality" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="Naturalidade" [required]="true">
          <input pInputText id="birthPlace" formControlName="birthPlace" />
        </app-form-field>
      </div> -->
    </div>
  </p-panel>

  <p-panel header="Informações Familiares" styleClass="mt-3">
    <div class="p-grid">
      <div class="p-col-12 p-md-4">
        <app-form-field label="Nome da Mãe" [required]="true">
          <input pInputText id="motherName" formControlName="motherName" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="Nome do Pai" [required]="true">
          <input pInputText id="fatherName" formControlName="fatherName" />
        </app-form-field>
      </div>
      @if (!legalAge()) {
      <div class="p-col-12 p-md-4">
        <app-form-field label="Nome do Responsável Legal" [required]="true">
          <input pInputText id="legalGuardianName" formControlName="legalGuardianName" />
        </app-form-field>
      </div>
      }
    </div>
  </p-panel>

  <p-panel header="Endereço" styleClass="mt-3">
    <div class="p-grid">
      <div class="p-col-12 p-md-3">
        <app-form-field label="CEP" [required]="true">
          <p-inputMask formControlName="cep" mask="99999-999"></p-inputMask>
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-6">
        <app-form-field label="Rua e número" [required]="true">
          <input pInputText id="street" formControlName="street" />
        </app-form-field>
      </div>
      <!-- <div class="p-col-12 p-md-3">
        <app-form-field label="Número" [required]="true">
          <input pInputText id="number" formControlName="number" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="Bairro" [required]="true">
          <input pInputText id="neighborhood" formControlName="neighborhood" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="Município" [required]="true">
          <input pInputText id="city" formControlName="city" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="UF" [required]="true">
          <p-dropdown [options]="states" formControlName="state" placeholder="Selecione o estado"></p-dropdown>
        </app-form-field>
      </div> -->
    </div>
  </p-panel>

  <p-panel header="Escolaridade" styleClass="mt-3">
    <div class="p-grid">
      <div class="p-col-12 p-md-4">
        <app-form-field label="Nível de Escolaridade" [required]="true">
          <p-dropdown [options]="educationLevels" formControlName="educationLevel"
            placeholder="Selecione o nível"></p-dropdown>
        </app-form-field>
      </div>
      <!-- <div class="p-col-12 p-md-4">
        <app-form-field label="Local de Escolaridade" [required]="true">
          <input pInputText id="educationPlace" formControlName="educationPlace" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-4">
        <app-form-field label="Concluído em" [required]="true">
          <p-calendar formControlName="completionYear" view="year" dateFormat="yy"></p-calendar>
        </app-form-field>
      </div> -->
    </div>
  </p-panel>

  <p-panel header="Informações Adicionais" styleClass="mt-3">
    <div class="p-grid">
      <div class="p-col-12">
        <app-form-field label="Possui alguma deficiência?">
          <p-checkbox class="mb-2 ml-2 -mr-2 bg-gray-300" formControlName="hasDisability" binary="true"></p-checkbox>
        </app-form-field>
      </div>
    </div>
  </p-panel>

  <p-panel header="Senha" styleClass="mt-3">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <app-form-field label="Senha" [required]="true">
          <input pInputText id="password" formControlName="password" type="password" />
        </app-form-field>
      </div>
      <div class="p-col-12 p-md-6">
        <app-form-field label="Confirmar Senha" [required]="true">
          <input pInputText id="confirmPassword" formControlName="confirmPassword" type="password" />
        </app-form-field>
      </div>
    </div>
  </p-panel>

  <p-panel styleClass="mt-3">
    <div class="flex items-center gap-3">
      <p-checkbox class="bg-gray-300" formControlName="agreeTerms" binary="true"></p-checkbox>
      <span>
        eu confirmo que li e concordo com os
        <a class="cursor-pointer text-cyan-700 underline">Termos de Uso</a>.
        Eu também entendo que a utilização de
        nossos serviços é sujeita às leis e regulamentações aplicáveis e que eu
        sou responsável por cumprir com essas leis e regulamentações
      </span>
    </div>

    <div class="flex mt-3 items-center justify-center">
      <a (click)="onSubmit()"
        class="cursor-pointer inline-flex items-center justify-center w-full px-6 py-2 text-base font-bold leading-6 text-white bg-red-800 border border-transparent rounded-full md:w-auto hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">
        Cadastrar
      </a>
    </div>
  </p-panel>

</form>
