<div class="centralized-container">
  <div class="forgot-password-container">
    <h2>Recuperação de Senha</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
          class="error-message">
          Por favor, insira um e-mail válido.
        </div>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
    </form>
  </div>
</div>
