<div class="centralized-container">
  <div class="reset-password-container">
    <h2>Redefinir Senha</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
          class="error-message">
          A senha deve ter pelo menos 6 caracteres.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Nova Senha:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched"
          class="error-message">
          As senhas não coincidem.
        </div>
      </div>
      <button [disabled]="resetPasswordForm.invalid"
        class="cursor-pointer inline-flex items-center justify-center w-full px-6 py-2 text-base font-bold leading-6 text-white bg-red-800 border border-transparent rounded-lg md:w-auto hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2">
        Redefinir senha
      </button>
    </form>
  </div>
</div>
