<div class="centralized-container">
  <div class="reset-password-container">
    <h2>Redefinir Senha</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
          class="error-message">
          A senha deve ter pelo menos 6 caracteres.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Nova Senha:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched"
          class="error-message">
          As senhas não coincidem.
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">Redefinir Senha</button>
    </form>
  </div>
</div>
